body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  .container {
    display: flex;
  }
  .sidebar {
    background-color: #ffffff;
    width: 200px; 
    padding-top: 20px;
  }
  .sidebar h2 {
    text-align: center;
  }
  .nav-links li {
    list-style-type: none;
  }
  .nav-links li a {
    display: block; /
    text-decoration: none; 
  }
  .nav-links li .active{
     background-color:#ccc;
  }
  .submenu{
     list-style-type:none;
  }
  .submenu p{
     margin-left:-40px;
  }
  .main-content-area {  
  background-color:#fff; 
  padding-left :30px ;
  padding-top :10px ;
  flex-grow :1 ;
  }
  .nav-links li a:hover,
  .nav-links li .active:hover {
  background-color:#ccc;
  } 
  .submenu {display:none;}
  .submenu.show{display:block;}  
